body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #22c55e;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.box {
  background: #1e293b;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.hidden {
  display: none;
}